:root {
  --color-primary: #4d96a9;
  --color-secondary: #855fb1;
  --color-headings: #28283d;
  --color-text: #87879d;
  --color-background: #fafafa;
  --color-primary-hover: #8fe3f9;
  --color-secondary-hover: #d9b8ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
}

.blue-text {
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-primary);
}

h1,
h2 {
  color: var(--color-headings);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 1.8rem;
  }
}

/* Button */

.btn {
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
  margin: 1rem;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

.btn--big {
  padding: 2rem 4rem;
  border-radius: 30px;
}

.btn--big_primary {
  background: var(--color-primary);
}

.btn--big_primary .btn-icon {
  color: var(--color-primary-hover);
}

.btn--big_secondary {
  background: var(--color-secondary);
}

.btn--big_secondary .btn-icon {
  color: var(--color-secondary-hover);
}

.btn--small {
  border-radius: 30px;
  background: var(--color-secondary);
  padding: 2rem 3rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 350px) {
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* Images */

.image {
  width: 100%;
  border-radius: 10px;
}

/* Grids */

.grid {
  display: grid;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid-2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
}

.grid-3x1 img {
  width: 100%;
  /* height: 100%; */
}

.item-1 {
  justify-self: end;
}

.item-3 {
  justify-self: start;
}

@media screen and (min-width: 768px) {
  .grid-2x2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.1rem;
  }
}

@media screen and (max-width: 1439px) {
  .grid-3x1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .item-2 {
    order: 3;
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1440px) {
  .grid-3x1 {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .item-2 {
    align-self: center;
  }
}

/* Hero */

.hero__content {
  text-align: center;
}

.hero__heading {
  margin-bottom: 2.4rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 40px;
}

.hero__description {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 1440px) {
  .hero__heading {
    margin-bottom: 3.4rem;
  }
}

/* footer */

.footer {
  position: relative;
  background-image: url(Assets/mobile/image-footer.jpg);
  background-size: cover;
}

.overlay {
  background: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1;
}

.footer__grid-3x1 {
  text-align: center;
  justify-items: center;
  row-gap: 2rem;
  padding: 8rem 0 6rem;
}

.footer__grid-3x1 h2 {
  color: var(--color-background);
  margin: 0;
  z-index: 2;
}

.footer__grid-3x1 p {
  color: var(--color-background);
  z-index: 2;
  margin: 0;
}

.footer__grid-3x1 .btn {
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    background-image: url(Assets/tablet/image-footer.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .footer__grid-3x1 {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: start;
    padding: 8rem 0;
  }

  .footer__text {
    align-self: self-start;
    padding-top: 1.5rem;
  }

  .footer {
    background-image: url(Assets/desktop/image-footer.jpg);
  }
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
}
