<section class="hero">
  <div class="grid grid-3x1">
    <img class="item-1" src="Assets/desktop/image-hero-left.png" alt="" />
    <div class="hero__content item-2">
      <h1 class="hero__heading">Group Chat for Everyone</h1>
      <p class="hero__description">
        Meet makes it easy to connect with others face-to-face virtually and
        collaborate across any device.
      </p>
      <div class="btn-container">
        <button class="btn btn--big btn--big_primary">
          Download <span class="btn-icon">v1.3</span>
        </button>
        <button class="btn btn--small">What is it?</button>
      </div>
    </div>
    <img class="item-3" src="Assets/desktop/image-hero-right.png" alt="" />
  </div>
</section>
